<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         testdox="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Controllers</directory>
            <file>src/Core/Application.php</file>
        </exclude>
    </source>
    <php>
        <!-- Database credentials come from .env; tests/bootstrap.php redirects them to <DB_NAME>_test. -->
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
    </php>
</phpunit>




